{
  "presets": [
    "module:metro-react-native-babel-preset",
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/transform-flow-strip-types",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    ["module-resolver", {
      "root": "./",
      "alias": {
        "@app": "./src",
        "@components": "./src/components",
        "@screens": "./src/screens",
        "@assets": "./src/assets"
      }
    }]
  ]
}
